:root{
    --form-font-size:16px;
    
}
.head{
    display: flex;
    flex-direction: column;
    
    /* box-sizing: border-box; */
    width: 40dvw;
    margin-left: -2.5rem;
    font-size: var(--form-font-size);
    
}
.head P ,h1{
    margin: .5rem 0;
}
.head h1{
    margin-top:0 ;
}
.head a{
    text-decoration: none;
    color: #007BFF;
}
.head a>p{
    margin: .5rem 0;
    margin: 2rem auto 2rem 0;
}
form{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.16);
    padding: 2.5rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    min-width: 40dvw;
    margin: 2rem auto;
    font-size: var(--form-font-size);
}
form label{
    margin:1.5rem 0 0 0;
}
form label input,select{
    width: 100%;
    box-sizing: border-box;
    border-radius: .2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1),
                0 3px 6px rgba(0, 0, 0, 0.10); 
    padding: .8rem;
    font-size: var(--default-font-size);
    margin-top: .8rem;
}
form label:last-of-type input{
    margin-bottom: 1.5rem;
}
form label:first-of-type{
    margin-top: 0;
}
.buttons{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
}
.buttons .btn{
    padding: .8rem;
    font-size: var(--default-font-size);
    border-radius: .4rem;
    border: none;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1),
                0 3px 6px rgba(0, 0, 0, 0.10); 
    cursor: pointer;
    font-weight: bold;
}
.buttons .btn:hover{
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1),
                0 6px 12px rgba(0, 0, 0, 0.10); 
}
.btn-primary{
    background-color: #4CAF50;
    color: white;
}