html body{
    font-family: 'Tahoma' , sans-serif;
    /* outline: 1px solid red;  */
    height: auto;
    margin: auto;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgba(255, 255, 255,.1 );
   
    min-height: 100dvh;
}
header{
   width: 100%;
   top: 0;
   display: flex;
   justify-content: center;
   background-color: rgb(255, 255, 255);
   box-shadow:
    0 1px 4px rgba(0,0,0,0.08),
    0 2px 8px rgba(0,0,0,0.10);
   position: sticky;
   z-index: 100;
}
.header{
    display: flex;
    justify-content: space-between;
    /* padding:min(1.8rem ,5%) ;   */
    width:100%;
    align-items: center;
}
.centered{
    max-width: 68vw; 
    margin: auto;
}
.logo{
    display: inline-block;
    width: min(12rem,26%);
    display: block;
    padding:1.2rem 0 ;
}
#navigation ul{
    display: flex;
    justify-content: center;
    margin: 0;
}
#navigation{
    display: flex;
    list-style: none;
    column-gap:30px ;
}
#navigation li{
    display: flex; 
    align-content: center;
}
#navigation li a{
    text-decoration:none;
    color: rgb(0, 0, 0);
}
.action{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
main{
    height: fit-content;
    width: 100%;
    padding:1.5rem;
    flex: 1;
}
main h2{
    margin:1rem 0;
}
main p{
    color: rgba(0, 0, 0, 0.75);
}
.component{
    box-shadow:
        0 1px 2px rgba(0,0,0,0.10),
        0 4px 12px rgba(0,0,0,0.15);
    border-radius: .8rem;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1.5rem 0;
    padding: 3rem;
    /* aspect-ratio: 2/1; */
}
.component-content{
    display: flex;
    flex-direction: column;
}
.action-button{
    box-shadow:
        0 1px 2px rgba(0,0,0,0.10),
        0 2px 8px rgba(0,0,0,0.15);
    border-radius: .8rem;
    position: relative;
    min-width: 90%;
    align-items: center;
    justify-content: start;
    display: flex;
    margin: 1.5rem 0;
    padding-left: 3rem;
}
.inline{
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    align-items: center;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}
footer{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgba(0,0,0,0.08);
}

.footer {
    display: block;
    padding: 0;
    height: auto;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    bottom:0;  
    
    /* border-bottom:2px solid rgb(0, 0, 0); */
    /* padding: 1.2rem 0; */
    width: 100%;

}

.footer_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 10px;
}
.footer ul {
    list-style:none;
    padding: 0; 
    margin-bottom: 1.5rem;
}
.footer_links li{
    display: flex;
    justify-content:flex-end;
    padding: 0 1.5rem;
    gap: 1.2rem;
    margin:0;
    align-items:flex-end;
}
.footer_links li:last-of-type{
    padding-right: 0;
}
.footer_links{
    margin: auto .8rem;
}

@media(max-width:660px){
    .centered{
        min-width: 85vw;
    }
    .footer{
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column
    };
    body{
        font-size: 14px;
        
    }
    .component{
      
        margin: 1rem 0;
        padding: 1rem;
          /* font-size: .5rem;
*/      aspect-ratio: 1/1;
        min-width: 70%;
    }.mid-grid{
        display: grid;
        grid-column: 1;
    }
}

/* this is for grid */

:root{
    --gap:2rem;
    --min_col:320px;
}

.grid{
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit,minmax(var(--min_col),2fr));
    margin: 0;
    /* padding:1.5rem; */
}
.grid-item{
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    margin:1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content:left;
}
.grid-item:last-of-type{
    display: flex;
    flex-direction: row;
}
/* .grid-item.aspect{
    aspect-ratio: 1/1;
} */
 .child-item{
   display: flex;
   justify-content: center;
   align-items: center; 
   border: 5px solid#474749;
   width: 100%;
 }
 .mid-grid{
    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(var(--min_col),2fr));
    gap: var(--gap);
 }
