main{
    color: black;
}
.flex_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}
    .overlae{
    position:relative;
}   
.cover.overlae:after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:1;
}
.event_left{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width:30%;
    position: relative;
    transform: translateY(-50%);
    z-index: 2;

}
.cover{
     display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 40vh;

}
.event_left img{    
    min-width:200px ;
    width: 100%;
    padding:0 ;
    aspect-ratio: 1/1;  
    object-fit: cover;
    object-position: center;
}

.event_right{
    width:50%;
    min-width: 290px;



}
@media (max-width:1200px) {
    .cover{
        height: 32vh;
    }
}
