main{
    color: black;
}
.flex_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}
.overlae{
    position:relative;
} 

.cover.overlae:after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:1;
}
.event_left{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width:30%;
    position: relative;
    transform: translateY(-50%);
    z-index: 2;

}
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 40vh;

}
.event_left img{    
    min-width:200px ;
    width: 100%;
    padding:0 ;
    aspect-ratio: 1/1;  
    object-fit: cover;
    object-position: center;
}

.event_right{
    width:60%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}
.event_right h2{
   
    margin: 0;
    align-self: start;
}
.date_location_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
    align-items: center;
    width: 100%;
    border-bottom: 2px double black;
    padding-bottom: 1rem;
    opacity: .8;
}
.date ,.location{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
iframe{
    width: 100%;
    aspect-ratio: 3/1;
    margin: 1rem 0 ;
}
.description{
    align-self: start;
}
.buy_ticket_container{
    border-radius: .5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2),
                0 1px 4px rgba(0,0,0,0.2);
    padding: 1rem ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
}
.buy_ticket_container h2 {
    padding: 0 0 0 1rem;
    margin: 0;
}
.ticket_type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;    
    box-sizing: border-box  ;
    border-radius: .5rem;
     box-shadow: 0 1px 2px rgba(0,0,0,0.2),
                0 1px 4px rgba(0,0,0,0.2);
}
.ticket_button{
    padding: .8rem;
    border-radius: .5rem;
     box-shadow: 0 1px 2px rgba(0,0,0,0.2),
                0 1px 4px rgba(0,0,0,0.2);
                border: 1px solid rgba(0,0,0,0.2);
}
.buy_button{
    background-color: #2FA84F;
    color: #FAF9F6;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius:.5rem ;
    padding: .6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
                0 2px 4px rgba(0, 0, 0, 0.2);
       border: 1px solid#2FA84F;

}
.buy_button:hover{
    background-color: #FAF9F6;
    color: #2FA84F;
    border: 1px solid#2FA84F;
    transform: translateY(1px);
}
button{
    cursor: pointer;
}
@media (max-width:1200px) {
    .cover{
        height: 32vh;
    }
}
@media(max-width:576px){
    .event_right{
        transform: translateY(-15%);
        width: 100%;
        margin-bottom: -15%;
    }
    iframe{
        aspect-ratio: 2/1;
        margin-top:0 ;
        margin-bottom: 1rem;
    }
    /* .event_right h2{
    padding: 0;
    margin: 0;
} */
}