:root{
    --gap:2rem;
    --min_col:300px;
}

.grid{
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit,minmax(var(--min_col),.25fr));
    margin: 0;
    padding:1.5rem 0;
    align-items: stretch;
}
.grid-item{
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow:
    0 1px 4px rgba(0,0,0,0.08),
    0 2px 8px rgba(0,0,0,0.10);
    justify-content: space-evenly;
}

/* Responsive gaps */
@media (max-width:1200px){
    :root{
        --gap: 1.5rem;
        --min_col:240px;
    }
}

@media (max-width:660px){
    :root{
        --gap: 1rem;
        --min_col:180px;
    }
    .grid{
        grid-template-columns: repeat(auto-fit,minmax(var(--min_col),1fr));
    }
}

.grid-item ul{
    margin: 0;
    padding: 0;
}

.grid-item ul li{
    list-style:none;
    margin: 0 0 0.5rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: auto;
    align-self: flex-start;
}

.grid-item ul li img {
    flex-shrink: 0;
}

.grid-item ul li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-item h3 {
    margin: 0.5rem 0;
}

.grid-item .buy_button{
    padding: 0.6rem;
    border-radius: .5rem;
    margin-top: 1rem;
    background-color: #2FA84F;
    border: 1px solid #2FA84F;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
}

.grid-item .buy_button:hover {
    background-color: #24844a;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item .buy_button:active {
    transform: translateY(0);
}

.event_right .flex_content .favourite svg{
    padding: .2rem;
    margin-right: 0;
    transition: fill 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event_right .flex_content .favourite.is_active svg{
    fill: black;
}
.favourite{
    background: rgba(255, 255, 255, .4);
    box-shadow: #ffffff;
    border: none;
    border-radius: 50%;
    margin-left:auto;
    padding: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.favourite:hover {
    background: rgba(255, 255, 255, 0.8);
}

.grid-item .banner_img{
    aspect-ratio: 1/1;
    border: black solid .1rem;
    border-radius: .5rem;
    /* max-width: 500px; */
    object-fit: cover;
    width: 100%;
}

.banner_img_container{
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
}

.banner_img_container img{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.favourite.is_active svg {
    fill: red;
}

.favourite.is_active svg path{
    stroke: red;
}
